[user]
    name =
    email =
    #signingkey =
[commit]
    gpgsign = false
[push]
    default = simple
[alias]
    l  = log --pretty=oneline --decorate --abbrev-commit
    la = log --pretty=medium --decorate --abbrev-commit --stat --all --walk-reflogs --relative --remotes
    st = status
    br = branch
    co = checkout
    pwb = symbolic-ref --short HEAD
    hist = log --graph --pretty=format:\"%h %ad | %s%d [%an]\" --date=short
#[gpg]
#    program = /usr/local/MacGPG2/bin/gpg2
[credential]
    helper = store
[init]
    defaultBranch = main
